.no-flexbox .row > *{
	display: inline-block;
	margin-right: -4px;
}

@for $i from 1 through 12{
	.col-#{$i}{
		width: (($i/12) * 100%);
	}
}
.col-5th{
	width: 20%;
}

@each $key, $val in $breakpoints{
	@include above($val){
		@for $i from 1 through 12{
			&.#{$key}-col-#{$i}{
				width: (($i / 12) * 100%);
			}
			&.#{$key}-col-5th{
				width: 20%;
			}
		}
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	&.gutter{
		margin: -$gutter/2;
		& > *{
			padding: $gutter/2;
		}
	}
	@each $key, $val in $spacer{
		&.gutter-#{$key}{
			margin: -$val/2;
			& > *{
				padding: $val/2;
			}
		}
	}
}
