:not(.no-flexbox){
	.flex{
		&-row{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&-col{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
		&-left{   margin-right: auto; }
		&-right{  margin-left: auto; }
		&-top{    margin-bottom: auto; }
		&-bottom{ margin-top: auto; }
		&-wrap{   flex-wrap: wrap; }
		&-nowrap{ flex-wrap: nowrap; }
		&-grow{   flex-grow: 1; }
		&-shrink{ flex-shrink: 1; }
		&-center{
			justify-content: center;
			align-items: center;
		}
		&-center-self{   align-self: center; }
		&-center-row{    justify-content: center; }
		&-center-col{    align-items: center; }
		&-space-around{  justify-content: space-around; }
		&-space-between{ justify-content: space-between; }
	}
}
.no-flexbox{
	.flex{
		&-row{
			& > *{
				display: inline-block;
				margin-right: -4px;
			}
		}
		&-col, &-row{
			&:after{
				display: block;
				visibility: hidden;
				clear: both;
				height: 0;
				content: "";
			}
		}
		&-left{
			float: left;
		}
		&-right{
			float: right;
		}
		&-center{
			text-align: center;
		}
		&-center-row{
			text-align: center;
		}
	}
}

.order{
	&-0{ order: 0; }
	&-1{ order: 1; }
	&-2{ order: 2; }
}
@each $key, $val in $breakpoints{
	&.#{$key}{
		@include above($val){
			&-order{
				&-0{ order: 0; }
				&-1{ order: 1; }
				&-2{ order: 2; }
			}
		}
	}
}