{{#extend "generic" title="Col"}}
	{{#content "content"}}
		<h1>Col</h1>
		<p>
			Cols provide a way of easily marking up simple, responsive layouts. Cols are <code>div</code> elements and must always belong to a <code>div.row</code>. Classes from <code>col-1</code> to <code>col-12</code> are base specifiers and should only be used on their own if that particular row doesn't need to be responsive. Otherwise, you can set col sizes based on the breakpoints in <code>variables.scss</code> by prepending two letter sizes to the col, as specified in the aforementioned file.
		</p>
		<p>
			For example:<br><code>div class="col-12 md-col-6"</code> would render the column 100% width for all viewport widths. Responsive col classes take precedence, so <code>md-col-6</code> would render the column 50% width for viewports with a width  greater than the <code>md</code> breakpoint value. Resize the browser to see the examples below change.
		</p>

		<div class="section padding-v-xs">
			<div class="row">
				<div class="col-12 sm-col-3">
					<div class="jazcss-item">Some longer text to show match heights</div>
				</div>
				<div class="col-12 sm-col-3">
					<div class="jazcss-item">col-12 sm-col-3</div>
				</div>
				<div class="col-12 sm-col-6">
					<div class="jazcss-item">col-12 sm-col-6</div>
				</div>
			</div>
		</div>

		<div class="section padding-v-xs">
			<p>Row with <code>gutter-xs</code></p>
			<div class="row gutter-xs">
				<div class="col-12 sm-col-6 md-col-3">
					<div class="jazcss-item">col-12 sm-col-3</div>
				</div>
				<div class="col-12 sm-col-6 md-col-3">
					<div class="jazcss-item">col-12 sm-col-3</div>
				</div>
				<div class="col-12 sm-col-12 md-col-6">
					<div class="jazcss-item">col-12 sm-col-6</div>
				</div>
			</div>
		</div>

		<div class="section padding-v-xs">
			<p>Row with <code>gutter-xl</code></p>
			<div class="row gutter-xl">
				<div class="col-12 sm-col-6 md-col-3">
					<div class="jazcss-item">col-12 sm-col-3</div>
				</div>
				<div class="col-12 sm-col-6 md-col-3">
					<div class="jazcss-item">col-12 sm-col-3</div>
				</div>
				<div class="col-12 sm-col-12 md-col-6">
					<div class="jazcss-item">col-12 sm-col-6</div>
				</div>
			</div>
		</div>

		<br>
		<h3>Col-5th</h3>
		<p>
			<code>col-5th</code> provides a way to specify 20% width. Surprisingly, frameworks like Bootstrap or Foundation don't support this out of the box <small><small><small><small>because they're bad</small></small></small></small>
		</p>

		<div class="section padding-v-xs">
			<div class="row">
				<div class="col-12 sm-col-5th">
					<div class="jazcss-item">col-12 sm-col-5th</div>
				</div>
				<div class="col-12 sm-col-5th">
					<div class="jazcss-item">col-12 sm-col-5th</div>
				</div>
				<div class="col-12 sm-col-5th">
					<div class="jazcss-item">col-12 sm-col-5th</div>
				</div>
				<div class="col-12 sm-col-5th">
					<div class="jazcss-item">col-12 sm-col-5th</div>
				</div>
				<div class="col-12 sm-col-5th">
					<div class="jazcss-item">col-12 sm-col-5th</div>
				</div>
			</div>
		</div>

		<div class="section padding-v-xs margin-v-xs">
			<div class="row gutter">
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
			</div>
		</div>

		<div class="section padding-v-xxl margin-v-xxl">
			<div class="row gutter-xxl">
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
				<div class="col-12 xs-col-5th">
					<div class="jazcss-item">col-12 xs-col-5th</div>
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
