{{#extend "generic"}}
	{{#content "content"}}
		<section>
			<h1>Wrappers</h1>
			<p>Wrappers are the best thing ever</p>
		</section>

		<section class="unwrapped padded-md bg-nicered fg-white">
			Unwrapped content
		</section>

		<br>

		<section class="breakout padded-md bg-nicered fg-white">
			Breakout
		</section>
	{{/content}}
{{/extend}}
