.tabarea{
	&__tab{
		display: inline-block;
		margin-right: -5px;
		padding: 10px;
		background-color: #ddd;
		&:hover, &.active{
			cursor: pointer;
			background-color: #eee;
		}
	}
	&__contents{
		overflow: hidden;
		background-color: #eee;
		box-shadow: 1px 1px 0 rgba(#000, 0.07);
	}
	&__content{
		width: 100%;
		display: inline-block;
		margin-right: -4px;
		padding: spacer(md);
	}
}
