.noselect{
	user-select: none;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.block{
	display: block;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
.none{
	display: none;
}

.center{
	margin: 0 auto;
}
