{{#extend "generic" title="Accordion"}}
	{{#content "content"}}
		<h1>Carousel</h1>
		<p>This carousel uses <a target="_blank" href="http://bxslider.com/">bxslider</a> behind the scenes.</p>

		{{#extend "carousel"}}
			{{#content "carousel-content"}}
				<li><img src="/images/banner-sample.jpg" /></li>
				<li><img src="/images/banner-sample.jpg" /></li>
				<li><img src="/images/banner-sample.jpg" /></li>
				<li><img src="/images/banner-sample.jpg" /></li>
			{{/content}}
		{{/extend}}

		{{#extend "carousel"}}
			{{#content "carousel-content"}}
				<li><img src="/images/banner-sample.jpg" /></li>
				<li><img src="/images/banner-sample.jpg" /></li>
				<li><img src="/images/banner-sample.jpg" /></li>
				<li><img src="/images/banner-sample.jpg" /></li>
			{{/content}}
		{{/extend}}

	{{/content}}
{{/extend}}
