{{#extend "main"}}
	{{#content "body"}}
		<section>
			<h1>Modal</h1>
			<a href="#mymodal">Call the modal with data-remodal-id="modal"</a>

			{{#extend "modal" modal-id="mymodal"}}
				{{#content "content"}}
					I am a modal!
				{{/content}}
			{{/extend}}
		</section>
	{{/content}}
{{/extend}}
