{{#extend "generic" title="Tabarea"}}
	{{#content "content"}}
		<h1>Tabarea</h1>
		<br>
		<div class="tabarea">
			<div class="tabarea__tabs">
				<div class="tabarea__tab active">
					Tab 1
				</div>
				<div class="tabarea__tab">
					Tab 2
				</div>
				<div class="tabarea__tab">
					Tab 3
				</div>
			</div>
			<div class="tabarea__contents">
				<div class="tabarea__content">
					This is some text
				</div>
				<div class="tabarea__content">
					This is also some text
				</div>
				<div class="tabarea__content">
					Woah more text!
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
