{{#extend "main"}}
	{{#content "body"}}
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
		<h3 class="fadeslide-left">Fadeslide-left</h3>
		<h3 class="fadeslide-right">Fadeslide-right</h3>
		<h3 class="fadeslide-above">Fadeslide-above</h3>
		<h3 class="fadeslide-below">Fadeslide-below</h3>
	{{/content}}
{{/extend}}
