{{#extend "generic" title="Hide"}}
	{{#content "content"}}
		<h1>Hide</h1>
		<p>Nifty little helper that lets you hide elements based on the browser widths as defined in <code>$breakpoints</code> in <code>base/variables.scss</code>.</p>
		<p>Resize this page to see the blocks below show or hide based on the window width.</p>

		<div class="hide-below-xxl padding-md bg-green">
			hide-below-xxl
		</div>

		<div class="hide-below-xl padding-md bg-green">
			hide-below-xl
		</div>

		<div class="hide-below-lg padding-md bg-green">
			hide-below-lg
		</div>

		<div class="hide-below-wrapper padding-md bg-green">
			hide-below-wrapper
		</div>

		<div class="hide-below-md padding-md bg-green">
			hide-below-md
		</div>

		<div class="hide-below-sm padding-md bg-green">
			hide-below-sm
		</div>

		<div class="hide-below-xs padding-md bg-green">
			hide-below-xs
		</div>

		<div class="hide-above-xxl padding-md bg-red fg-white">
			hide-above-xxl
		</div>

		<div class="hide-above-xl padding-md bg-red fg-white">
			hide-above-xl
		</div>

		<div class="hide-above-lg padding-md bg-red fg-white">
			hide-above-lg
		</div>

		<div class="hide-above-wrapper padding-md bg-red fg-white">
			hide-above-wrapper
		</div>

		<div class="hide-above-md padding-md bg-red fg-white">
			hide-above-md
		</div>

		<div class="hide-above-sm padding-md bg-red fg-white">
			hide-above-sm
		</div>

		<div class="hide-above-xs padding-md bg-red fg-white">
			hide-above-xs
		</div>
	{{/content}}
{{/extend}}
