{{#extend "generic" title="Margin"}}
	{{#content "content"}}
		<h1>Margin</h1>
		<p>The margin helper provides an easy way to add margin to an element</p>

		<div class="flex-row">
			<div class="bg-green margin-left-md padding-xs"><code>margin-left-md</code></div>
			<div class="bg-green margin-left-md padding-xs"><code>margin-left-md</code></div>
		</div>

		<br>

		<div class="bg-green margin-h-xl padding-xs"><code>margin-h-xl</code></div>
		<div class="bg-green margin-md padding-xs"><code>margin-md</code></div>
		<div class="bg-green margin-top-lg padding-xs"><code>margin-top-lg</code></div>

		<p>You can also apply responsive margin like so</p>

		<div class="bg-green margin-xs sm-margin-md md-margin-lg lg-margin-xl lg-margin-xxl"><code>margin-xs sm-margin-md md-margin-lg lg-margin-xl lg-margin-xxl</code></div>
		<br>
		<div class="bg-green margin-xs wrapper-margin-h-xxl"><code>margin-xs wrapper-margin-h-xxl</code></div>
	{{/content}}
{{/extend}}
