a{
	color: color(nero);
	&:hover{
		color: lighten(color(nero), 10%);
	}
}

.btn > i:first-child{
	margin-right: 7px;
}
.btn > i:last-child{
	margin-left: 7px;
}

// style a link to look like button, this is called a link-button
.btn{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: none;
	background: color(nero);
	&:hover{
		cursor: pointer;
		color: #fff;
		background: lighten(color(nero), 5%);
	}
}
