a{
	color: $link-color;
	&:hover{
		color: lighten($link-color, 10%);
	}
}

// style a link to look like button, this is called a link-button
.btn{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: none;
	background: $link-color;
	&:hover{
		cursor: pointer;
		color: #fff;
		background: lighten($link-color, 5%);
	}
	& > i{
		margin-right: 7px;
	}
}
