a{
	color: color(nero);
	&:hover{
		color: lighten(color(nero), 10%);
	}
}

// style a link to look like button, this is called a link-button
.btn{
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: none;
	background: color(nero);
	&:hover{
		cursor: pointer;
		color: #fff;
		background: lighten(color(nero), 5%);
	}
	& > i{
		margin-right: 7px;
	}
}
