{{#extend "main"}}
	{{#content "body"}}
		<article>
			<section id="#top">
				<h1>Heading 1</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. Fusce eget massa diam <a href="">pellentesque in ex nisi</a>. Ut efficitur erat et pellentesque porta. Donec viverra nibh ut mauris efficitur hendrerit. Suspendisse feugiat ac nisl id aliquam. Aliquam erat volutpat. Sed mattis nisi nec arcu elementum imperdiet. Suspendisse eu neque dapibus, auctor sem ac, aliquet turpis.
				</p>
				<p>
					This is a second paragraph.
				</p>
			</section>

			<h2>Heading 2</h2>
			<p>
				Lorem ipsum dolor sit amet, <strong>strong</strong> consectetur adipiscing elit. <em>Emphasis</em> aliquam facilisis elementum urna vitae aliquam. <u>Underline</u> ut efficitur erat et pellentesque porta. <del>Deleted text</del> Donec viverra nibh <ins>Inserted text</ins> ut mauris efficitur hendrerit. <code>Inline code</code> feugiat ac nisl id aliquam. Aliquam erat volutpat.
			</p>
			<hr>
			<pre>&lt;hr&gt; elements should not go inside &lt;p&gt; tags</pre>
			<p>
				Sed mattis nisi nec arcu elementum imperdiet. Suspendisse eu neque dapibus, auctor sem ac, aliquet turpis. <time datetime="2016-01-20">20 January 2016</time> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. Ut efficitur erat et pellentesque porta. <abbr title="Hypertext Markup Language">HTML</abbr> Donec viverra nibh ut mauris efficitur hendrerit. Suspendisse feugiat ac nisl id aliquam.
			</p>

			<h3>Heading 3</h3>
			<p class="lead">
				This is a leading paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. Ut efficitur erat et pellentesque porta. Ordered list:
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. Ut efficitur erat et pellentesque porta. Ordered list:
			</p>
			<ol>
				<li>This thing should happen first</li>
				<li>One of the steps. This one has quite a lot of content to show what should happen if the total amount of content wraps to multiple lines</li>
				<li>This thing should happen list</li>
			</ol>
			<pre>&lt;ol&gt; and &lt;ul&gt; elements should not go inside &lt;p&gt; tags</pre>
			<p>This is an unordered list:</p>
			<ul>
				<li>Items in this list have no semantic order</li>
				<li>Another item. This one has quite a lot of content to show what should happen if the total amount of content wraps to multiple lines</li>
				<li>Lorem ipsum dolor sit amet</li>
			</ul>

			<h4>Heading 4</h4>
			<p class="text-left">text left</p>
			<p class="text-center">text-center</p>
			<p class="text-right">text-right</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. Ut efficitur erat et pellentesque porta. <sup>This is super script</sup> and <sub>This is subscript</sub>
			</p>
			<p>
				Donec viverra nibh ut mauris efficitur hendrerit. Suspendisse feugiat ac nisl id aliquam. Aliquam erat volutpat. Sed mattis nisi nec arcu elementum imperdiet. Suspendisse eu neque dapibus, auctor sem ac, aliquet turpis.
			</p>

			<figure class="text-center">
				<img src="https://unsplash.it/400/200" alt="Images should always have alt tags">
				<figcaption>Image caption</figcaption>
			</figure>

			<figure class="text-center">
				<a href="#top">
					<img src="https://unsplash.it/400/200" alt="Images should always have alt tags">
				</a>
				<figcaption>Linked image</figcaption>
			</figure>

			<h5>Heading 5</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. <q>This is an inline quote</q> Ut efficitur erat et pellentesque porta. Donec viverra nibh ut mauris efficitur hendrerit.
			</p>
			<blockquote cite="http://www.worldwildlife.org/who/index.html">
				<p>
					For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
				</p>
				<footer><p>- Some guy, some company</p></footer>
			</blockquote>

			<h6>Heading 6</h6>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam. <mark>This is marked text</mark> erat et pellentesque porta. <small>Text in small tags is good for fineprint</small> Donec viverra nibh ut mauris efficitur hendrerit. Suspendisse feugiat ac nisl id aliquam. Aliquam erat volutpat. Sed mattis nisi nec arcu elementum imperdiet. Suspendisse eu neque dapibus, auctor sem ac, aliquet turpis. For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
			</p>

			<h2><a href="">Heading with link</a></h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis elementum urna vitae aliquam.  Donec viverra nibh ut mauris efficitur hendrerit. Suspendisse feugiat ac nisl id aliquam. Aliquam erat volutpat. Sed mattis nisi nec arcu elementum imperdiet. Suspendisse eu neque dapibus, auctor sem ac, aliquet turpis. For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
			</p>
		</article>
	{{/content}}
{{/extend}}
