{{#extend "main"}}
	{{#content "body"}}
		<div class="jazcss-item hide-below-md">
			hide-below-md
		</div>

		<div class="jazcss-item hide-above-md">
			hide-above-md
		</div>
	{{/content}}
{{/extend}}
