{{#extend "generic"}}
	{{#content "content"}}
		<h1>Jazcss</h1>
		<p>
			Jazcss is my frontend framework that I use whenever I start a new project. It contains all the usual things you'd expect from any framework, plus a few extras. It's built to be responsive, customisable and semantically correct as much as possible. This site is using the latest version of Jazcss and shows off all the things it can do. It's worth noting that you really shouldn't consider using this framework unless you can be sure gzip will be enabled on the server. This is because Jazcss offers a lot of spacing options for the col/collist layouts using iterative SCSS <code>@each</code> blocks. This pushes the size of the framework way up over 200KB, but because it's all very similar code, gzip compression brings it down by about 95% making it really lightweight.
		</p>
		<h2>Tech</h2>
		<ul>
			<li><a href="http://gulpjs.com/"><strong>Gulp</strong></a> - JS task runner. This is the master file of Jazcss and is what brings everything together to serve up a built site</li>
			<li><a href="http://handlebarsjs.com/"><strong>Handlebars</strong></a> - HTML templating engine. Makes it easy to reuse components on multiple pages or create page layouts</li>
			<li><a href="https://browsersync.io/"><strong>Browsersync</strong></a> - Live browser reloading, CSS injection, static site serving, session synchronisation</li>
			<li><a href="http://sass-lang.com/"><strong>Sass</strong></a> - CSS precompiler providing advanced CSS functionality. Jazcss uses SCSS instead of Sass itself</li>
		</ul>
		<h2>Style structure</h2>
		<ul>
			<li><strong>Base</strong> - Contains files that are core to the framework and shouldn't need much changing other than <code>variables.scss</code></li>
			<li><strong>Helpers</strong> - Classes that provide useful functionality</li>
			<li><strong>Layout</strong> - Like helpers, but specifically focussed on element positioning</li>
			<li><strong>Common</strong> - Style rules that target standard HTML elements such as headings</li>
			<li><strong>Components</strong> - The bread and butter of your project. Every partial should have a corresponding file here</li>
		</ul>
	{{/content}}
{{/extend}}
