{{#extend "main"}}
	{{#content "body"}}
		<div class="flex-row flex-wrap">
			<div style="width: 500px">
				Wrapping
			</div>
			<div style="width: 500px">
				test
			</div>
		</div>
	{{/content}}
{{/extend}}
