{{#extend "main"}}
	{{#content "body"}}
		<section>
			<h1>Wrappers</h1>
			<p>Wrappers are the best thing ever</p>
		</section>

		<section class="unwrapped padded-md">
			Unwrapped content
		</section>
	{{/content}}
{{/extend}}
