<div class="carousel">
	<div class="carousel__control carousel__control-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
	<ul class="carousel__bxslider">
		{{#block "carousel-content"}}{{/block}}
	</ul>
	<div class="carousel__control carousel__control-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
</div>
