<footer class="footer">
	<div class="wrapped padded-md">
		<div class="flex-row flex-space-between">
			<div><code>npm install jazcss &amp;&amp; gulp</code></div>
			<div><a href="https://github.com/Jazcash/jazcss" class="reset"><i class="fa fa-github" aria-hidden="true"></i> <span>View on Github</span></a></div>
		</div>
	</div>
</footer>
