<footer class="footer">
	<div class="wrapped padding-md">
		<div class="flex-row flex-space-between">
			<div><a href="https://github.com/Jazcash/jazcss/archive/master.zip"><code class="footer__url">https://github.com/Jazcash/jazcss/archive/master.zip</code></a></div>
			<div><a href="https://github.com/Jazcash/jazcss" class="reset"><i class="fa fa-github" aria-hidden="true"></i> <span>View on Github</span></a></div>
		</div>
	</div>
</footer>
