<header class="header">
	<div class="wrapped padded-md">
		<nav>
			<ul class="reset flex-row header__nav">
				<li><a href="/">Jazcss</a></li>
				<li><a href="/accordion.html">Accordion</a></li>
				<li><a href="/article.html">Article</a></li>
				<li><a href="/buttons.html">Buttons</a></li>
				<li><a href="/colour.html">Colour</a></li>
				<li><a href="/cols.html">Cols</a></li>
				<li><a href="/fadeslide.html">Fadeslide</a></li>
				<li><a href="/flex.html">Flex</a></li>
				<li><a href="/inputs.html">Inputs</a></li>
				<li><a href="/modal.html">Modal</a></li>
				<li><a href="/tabarea.html">Tabarea</a></li>
				<li><a href="/hide.html">Hide</a></li>
				<li><a href="/wrappers.html">Wrappers</a></li>
			</ul>
		</nav>
	</div>
</header>
