<header class="header">
	<div class="wrapped">
		<nav>
			<ul class="flex-row header__nav">
				<li><a href="/">Home</a></li>
				<li>
					<span>Docs</span>
					<ul>
						<li><a href="/docs/gulp">Gulp</a></li>
						<li><a href="/docs/sass">Sass</a></li>
						<li><a href="/docs/handlebars">Handlebars</a></li>
					</ul>
				</li>
				<li>
					<span>Layout</span>
					<ul>
						<li><a href="/layout/flex">Flex</a></li>
						<li><a href="/layout/col">Col</a></li>
						<li><a href="/layout/collist">Collist</a></li>
					</ul>
				</li>
				<li>
					<span>Common</span>
					<ul>
						<li><a href="/common/buttons">Buttons</a></li>
						<li><a href="/common/inputs">Inputs</a></li>
						<li><a href="/common/type">Type</a></li>
					</ul>
				</li>
				<li>
					<span>Components</span>
					<ul>
						<li><a href="/components/accordion">Accordion</a></li>
						<li><a href="/components/tabarea">Tabarea</a></li>
						<li><a href="/components/modal">Modal</a></li>
					</ul>
				</li>
				<li>
					<a>Helpers</a>
					<ul>
						<li><a href="/helpers/color">Color</a></li>
						<li><a href="/helpers/fadeslide">Fadeslide</a></li>
						<li><a href="/helpers/hide">Hide</a></li>
						<li><a href="/helpers/padding">Padding</a></li>
						<li><a href="/helpers/wrapper">Wrapper</a></li>
						<li><a href="/helpers/utility">Utility</a></li>
					</ul>
				</li>
				<li><a href="/colours">Colours</a></li>
			</ul>
		</nav>
	</div>
</header>
