<div class="remodal" data-remodal-id="{{modal-id}}">
	<button data-remodal-action="close" class="reset remodal-close"></button>
	{{#block "content"}}{{/block}}
	<br><br>
	<button data-remodal-action="cancel" class="remodal-cancel">Close</button>
</div>
