{{#extend "main"}}
	{{#content "body"}}
		<div class="row gutter">
			<div class="col-12 md-col-8">
				{{#block "8"}}{{/block}}
			</div>
			<div class="col-12 md-col-4">
				{{#block "4"}}{{/block}}
			</div>
		</div>
	{{/content}}
{{/extend}}
