{{#extend "generic"}}
	{{#content "content"}}
		<div class="row gutter">
			<div class="col-12 md-col-8 padding-v-md">
				{{#block "8"}}{{/block}}
			</div>
			<div class="col-12 md-col-4">
				<div class="bg-white-smoke padding-md">
					{{#block "4"}}{{/block}}
				</div>
			</div>
		</div>
	{{/content}}
{{/extend}}
