/*
	Usage:

	<span class="bg-hotpink fg-white">Hello</span>

	This would render "hello" in white text with a hotpink background
*/

@each $key, $val in $colors{
	&.bg{ // background
		&-#{$key}{
			background: $val;
		}
	}
	&.fg{ // foreground
		&-#{$key}{
			color: $val;
		}
	}
}
