*, :before, :after{
	box-sizing: border-box;
}

body{
	background-color: #eee;
	color: color(nero);
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased; // standardise font appearance between OS'
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

main{
	background: #fff;
}
