*, :before, :after{
	box-sizing: border-box;
}

body{
	font-family: $bodyFont;
	color: $bodyTextColor;
	background-color: $bodyBackgroundColor;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased; // standardise font appearance between OS'
	-moz-osx-font-smoothing: grayscale;
}

main{
	background: $mainBackgroundColor;
}
