$wrapperWidth        : 960px;
$wrapperBreakoutWidth: 120px;
$gutter              : 15px; // default when using the gutter class on row/collist
$maxCollistCols      : 5; // always make this number the lowest it needs to be, it greatly affects filesize
$bodyBackgroundColor : #F5F5F5;
$bodyTextColor       : #222;
$bodyFont            : "Open Sans", sans-serif;
$mainBackgroundColor : #FBFBFB;

$spacer: (
	none: 0px,
	xs : 5px,
	sm : 10px,
	md : 15px,
	lg : 20px,
	xl : 25px,
	xxl: 50px
);

$breakpoints: (
	xs     : 350px,
	sm     : 480px,
	md     : 768px,
	wrapper: $wrapperWidth,
	lg     : 1024px,
	xl     : 1440px,
	xxl    : 1920px
);

// colour name ideas - http://chir.ag/projects/name-that-color/#6195ED
$colors: (
	white-smoke: #FAFAFA,
	white: #FFFFFF,
	black: #000000,
	nero: #222222,
	red: #C1202B,
	red-light: #DD3340,
	ebony: #1C1F28,
	ebony-light: #313646,
	green: #BDC120,
	green-light: #DBDD32
);
