$wrapperWidth: 960px; // 960, 1080, 1200 recommended
$wrapperBreakoutWidth: 120px;

$spacer: (
	xs : 5px,
	sm : 10px,
	md : 15px,
	lg : 20px,
	xl : 25px,
	xxl: 30px
);

$breakpoints: (
	xs : 350px,  // older smartphones
	sm : 480px,  // newer smartphones
	md : 768px,  // tablets and old laptops
	lg : 1024px, // new laptops and small monitors
	xl : 1440px, // medium sized monitors
	xxl: 1920px  // large sized monitors
);

// colour name ideas - http://chir.ag/projects/name-that-color/#6195ED
$colors: (
	nero         : #222222,
	white-smoke  : #FAFAFA,
	mariner      : #306BCF,
	qubared      : #C1202B,
	qubared-light: #DD3340,
	ebony        : #1C1F28,
	ebony-light  : #313646,
	pear         : #BDC120,
	pear-light   : #DBDD32
);
